In [1]:
from ans_wrapper import DemonstracoesContabeis
import pandas as pd

In [2]:
dem = DemonstracoesContabeis()

##### Sandbox

In [3]:
df = pd.read_csv("../ans_downloads/1T2025.csv", delimiter=";")

In [4]:
codigos_ans = set(df['REG_ANS'])

In [18]:
company_date = df.loc[df["REG_ANS"]== 316458]

##### Quarter Industry Data

In [11]:
# Quarter Info 1T2025
df = dem.get_info("1T2025")
df.head()

ZIP file saved at: ans_downloads/1T2025.zip
CSV extracted: ans_downloads/1T2025.csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2025-01-01,316458,46411,PUBLICIDADE E PROPAGANDA,0,1070
1,2025-01-01,316458,464119,Publicidade e Propaganda,0,1070
2,2025-01-01,316458,46411901,Publicidade e Propaganda,0,1070
3,2025-01-01,316458,464119011,Publicidade e Propaganda,0,1070
4,2025-01-01,316458,465,DESPESAS COM TRIBUTOS,0,"99024,72"

In [ ]:
df["REG_ANS"].values

array([316458, 316458, 316458, ..., 379280, 379280, 379280],
      shape=(705390,))

In [28]:
a = [316458, 379280, 102301]  
b = [x for x in a if x not in df["REG_ANS"].values]

In [29]:
b

[102301]

##### Getting Company Data

In [3]:
# Código ANS do GNDI
GNDI = 359017
# Info Trimestral GNDI
df = dem.get_info("1T2023", GNDI)

-------
{'Date': 'Tue, 12 Aug 2025 22:20:28 GMT', 'Server': 'Apache/2.4.6 () OpenSSL/1.0.2k-fips', 'Last-Modified': 'Tue, 13 Jun 2023 13:45:15 GMT', 'ETag': '"79305a-5fe030b8250c0"', 'Accept-Ranges': 'bytes', 'Content-Length': '7942234', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/zip'}
-------

1T2023.zip: 100%|██████████| 7.94M/7.94M [00:06<00:00, 1.17MB/s]

ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv

In [8]:
df.head()

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
1546,2023-01-01,359017,21861,DÉBITOS COM AQUISIÇÃO DE CARTEIRA,"6652597,76","3910498,02"
1547,2023-01-01,359017,218619,Débitos com Aquisição de Carteira,"6652597,76","3910498,02"
1548,2023-01-01,359017,21861901,Débitos com Aquisição de Carteira,"6652597,76","3910498,02"
1549,2023-01-01,359017,218619011,Débitos com Aquisição de Carteira de Beneficiá...,"6652597,76","3910498,02"
1550,2023-01-01,359017,2187,PASSIVO DE ARRENDAMENTOS - VALOR PRESENTE,"38635342,99","38735806,11"

In [3]:
# Get filtered dataset for specific companies (using real company codes)
df_filtered = dem.get_info(quarters="1T2023", company="316458")
print("Filtered dataset shape:", df_filtered.shape)

-------
{'Date': 'Tue, 12 Aug 2025 13:54:40 GMT', 'Server': 'Apache/2.4.6 () OpenSSL/1.0.2k-fips', 'Last-Modified': 'Tue, 13 Jun 2023 13:45:15 GMT', 'ETag': '"79305a-5fe030b8250c0"', 'Accept-Ranges': 'bytes', 'Content-Length': '7942234', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/zip'}
-------
ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv
Filtered dataset shape: (472, 6)

##### Multiple Company Data

In [4]:
df_multiple_company = dem.get_info(quarters="1T2023", company=["316458", "356476"])

-------
{'Date': 'Tue, 12 Aug 2025 22:21:15 GMT', 'Server': 'Apache/2.4.6 () OpenSSL/1.0.2k-fips', 'Last-Modified': 'Tue, 13 Jun 2023 13:45:15 GMT', 'ETag': '"79305a-5fe030b8250c0"', 'Accept-Ranges': 'bytes', 'Content-Length': '7942234', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/zip'}
-------

1T2023.zip: 100%|██████████| 7.94M/7.94M [00:06<00:00, 1.16MB/s]

ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv

In [ ]:
df_multiple_company = dem.get_info(quarters="1T2023", company=["316458", "356476", "301923802938210931"])

ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv

ValueError: Company code(s) not found in dataset: [301923802938210931]

In [ ]:
df_multiple_company.head()

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
642,2023-01-01,356476,46151,DESPESAS COM ASSISTÊNCIA SOCIAL,0,"31661,21"
643,2023-01-01,356476,461519,Despesas com Assistência Social,0,"31661,21"
644,2023-01-01,356476,46151901,Despesas com Assistência Social,0,"31661,21"
645,2023-01-01,356476,461519011,Despesas com Assistência Médica/ Odontológica,0,"31661,21"
646,2023-01-01,356476,4616,DESPESAS COM INSTRUÇÃO,0,"70171,18"

In [ ]:
set(df_multiple_company["REG_ANS"])

{316458, 356476}

##### Multiple Quarters

In [3]:
df_multiple_company = dem.get_info(quarters=["1T2023", "1T2024"], company=["316458", "356476"])

1T2023.zip: 100%|██████████| 7.94M/7.94M [00:07<00:00, 1.13MB/s]

ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv

1T2024.zip: 100%|██████████| 8.23M/8.23M [00:07<00:00, 1.17MB/s]

ZIP file saved at: ans_downloads/1T2024.zip
CSV extracted: ans_downloads/1T2024.csv