In [2]:
from ans_wrapper import DemonstracoesContabeis
import pandas as pd

In [3]:
dem = DemonstracoesContabeis()

##### Basic Functionality

In [5]:
# Getting info for a single quarter
one_quarter = dem.get_info("1T2024")
one_quarter.head()

1T2024.zip: 100%|██████████| 8.23M/8.23M [00:02<00:00, 3.87MB/s]

ZIP file saved at: ans_downloads/1T2024.zip
CSV extracted: ans_downloads/1T2024.csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-01-01,356476,463919,Outras Despesas com Localização e Funcionamento,0,"91066,19"
1,2024-01-01,356476,46391901,Outras Despesas com Localização e Funcionamento,0,"91066,19"
2,2024-01-01,356476,463919011,Despesas com Expediente,0,"34059,68"
3,2024-01-01,356476,463919012,Despesas com Seguros,0,"342,47"
4,2024-01-01,356476,463919013,Despesas com Locomoção,0,"21801,81"

In [6]:
# Getting info for multiple quarters
multiple_quarters = dem.get_info(quarters=["1T2024", "2T2024"])
multiple_quarters.head()

1T2024.zip: 100%|██████████| 8.23M/8.23M [00:04<00:00, 1.86MB/s]

ZIP file saved at: ans_downloads/1T2024.zip
CSV extracted: ans_downloads/1T2024.csv

2T2024.zip: 100%|██████████| 9.32M/9.32M [00:03<00:00, 2.55MB/s]

ZIP file saved at: ans_downloads/2T2024.zip
CSV extracted: ans_downloads/2T2024.csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-01-01,356476,463919,Outras Despesas com Localização e Funcionamento,0,"91066,19"
1,2024-01-01,356476,46391901,Outras Despesas com Localização e Funcionamento,0,"91066,19"
2,2024-01-01,356476,463919011,Despesas com Expediente,0,"34059,68"
3,2024-01-01,356476,463919012,Despesas com Seguros,0,"342,47"
4,2024-01-01,356476,463919013,Despesas com Locomoção,0,"21801,81"

In [12]:
# One Company 
GNDI = 359017
one_company = dem.get_info("1T2023", GNDI)
one_company.head()

1T2023.zip: 100%|██████████| 7.94M/7.94M [00:03<00:00, 2.07MB/s]

ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
1546,2023-01-01,359017,21861,DÉBITOS COM AQUISIÇÃO DE CARTEIRA,"6652597,76","3910498,02"
1547,2023-01-01,359017,218619,Débitos com Aquisição de Carteira,"6652597,76","3910498,02"
1548,2023-01-01,359017,21861901,Débitos com Aquisição de Carteira,"6652597,76","3910498,02"
1549,2023-01-01,359017,218619011,Débitos com Aquisição de Carteira de Beneficiá...,"6652597,76","3910498,02"
1550,2023-01-01,359017,2187,PASSIVO DE ARRENDAMENTOS - VALOR PRESENTE,"38635342,99","38735806,11"

In [14]:
# Multiple Companies
companies = ["316458", "356476"]
multiple_companies = dem.get_info("1T2023", company=companies)
multiple_companies.head()

1T2023.zip: 100%|██████████| 7.94M/7.94M [00:03<00:00, 2.01MB/s]

ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
642,2023-01-01,356476,46151,DESPESAS COM ASSISTÊNCIA SOCIAL,0,"31661,21"
643,2023-01-01,356476,461519,Despesas com Assistência Social,0,"31661,21"
644,2023-01-01,356476,46151901,Despesas com Assistência Social,0,"31661,21"
645,2023-01-01,356476,461519011,Despesas com Assistência Médica/ Odontológica,0,"31661,21"
646,2023-01-01,356476,4616,DESPESAS COM INSTRUÇÃO,0,"70171,18"

In [15]:
# Multiple Companies + Multiple Quarters
multi_company_quarter = dem.get_info(quarters=["1T2023", "2T2023"], company=companies)
multi_company_quarter.head()

1T2023.zip: 100%|██████████| 7.94M/7.94M [00:02<00:00, 3.13MB/s]

ZIP file saved at: ans_downloads/1T2023.zip
CSV extracted: ans_downloads/1T2023.csv

2T2023.zip: 100%|██████████| 8.87M/8.87M [00:02<00:00, 3.02MB/s]

ZIP file saved at: ans_downloads/2T2023.zip
CSV extracted: ans_downloads/2t2023.csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
642,2023-01-01,356476,46151,DESPESAS COM ASSISTÊNCIA SOCIAL,0,"31661,21"
643,2023-01-01,356476,461519,Despesas com Assistência Social,0,"31661,21"
644,2023-01-01,356476,46151901,Despesas com Assistência Social,0,"31661,21"
645,2023-01-01,356476,461519011,Despesas com Assistência Médica/ Odontológica,0,"31661,21"
646,2023-01-01,356476,4616,DESPESAS COM INSTRUÇÃO,0,"70171,18"

In [ ]:
# No quarters (should raise error)
no_quarters = dem.get_info(company=GNDI)

##### Sandbox

In [ ]:
df = pd.read_csv("./ans_downloads/1T2024.csv", delimiter=";")

In [ ]:
codigos_ans = set(df['REG_ANS'])

In [ ]:
company_date = df.loc[df["REG_ANS"]== 316458]

##### Quarter Industry Data

In [ ]:
# Quarter Info 1T2025
df = dem.get_info("1T2025")
df.head()

##### Getting Company Data

In [ ]:
df.head()

In [ ]:
# Get filtered dataset for specific companies (using real company codes)
df_filtered = dem.get_info(quarters="1T2023", company="316458")
print("Filtered dataset shape:", df_filtered.shape)

##### Multiple Company Data

In [ ]:
df_multiple_company = dem.get_info(quarters="1T2023", company=["316458", "356476"])

In [ ]:
df_multiple_company = dem.get_info(quarters="1T2023", company=["316458", "356476", "301923802938210931"])

In [ ]:
df_multiple_company.head()

In [ ]:
set(df_multiple_company["REG_ANS"])

##### Multiple Quarters

In [ ]:
df_multiple_company = dem.get_info(quarters=["1T2023", "1T2024"], company=["316458", "356476"])

In [ ]:
df_multiple_company.head()

##### Testing

In [ ]:
company_historical = dem.get_info(quarters=["1T2022", "1T2023", "1T2024"], company=["356476"])

In [ ]:
# Checando se vieram todos os quarters
company_historical['DATA'].unique()